@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ad8e53;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav ul li {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  position: relative;
}

nav ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: 5;
}

nav ul li:hover > ul#strategy,
nav ul li:hover > ul#rest {
  height: 83vh;
  overflow: hidden;
  overflow-y: scroll;
}

nav ul li a {
  color: #fff;
}

nav ul li a:hover {
  color: #463921;
}

nav ul li ul {
  background-color: #ad8e53;
  position: absolute;
  margin-top: 1rem;
  visibility: hidden;
  opacity: 0;
  display: none;
}

nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  font-size: 1.05rem;
  padding: 0.5rem 1rem;
  width: 250px;
  clear: both;
}

nav ul li ul li:hover {
  background-color: #bda576;
}

nav ul li ul li:hover a {
  color: #fff;
}

/* Keeping li parent element (from main ul list) highlited when hovering over sub-menu li elements */
nav ul > li:hover > a {
  color: #424621;
}

.header {
  height: 95vh;
  background-color: #c8ce98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header h1 {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.header h1 span {
  color: #8b7242;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-style: oblique;
}

.header i.fab {
  margin-bottom: 2rem;
}

.header p {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.header-subpages {
  height: 35vh;
}

.subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b5bd76;
  width: 100%;
  height: 20vh;
}

.subheader h1 {
  font-size: 1.6rem;
}

.subheader h1 span {
  color: #8b7242;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-style: oblique;
}

.subheader .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.subheader .logo i.fas {
  color: #8b7242;
}

.subheader .logo h2 {
  margin-left: 1rem;
  font-size: 2.5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #a3ad53;
  padding-top: 2rem;
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

footer .footer-top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c8ce98;
  padding: 2.5rem 1rem;
  border-radius: 15px;
  margin-left: -50px;
  margin-right: 50px;
}

footer .footer-top .logo h3 {
  margin-top: 1rem;
}

footer .footer-top .logo h3 span {
  color: #8b7242;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-style: oblique;
}

footer .footer-top ul {
  list-style: none;
  margin-right: 300px;
}

footer .footer-top ul li {
  padding: 0.25rem;
  font-size: 1.2rem;
}

footer .footer-top ul li:hover {
  cursor: pointer;
  color: #8b7242;
  font-weight: bold;
}

footer .footer-top .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-top .contact h3 {
  margin-bottom: 0.5rem;
}

footer .footer-top .contact input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

footer .footer-top .contact textarea {
  padding: 0.5rem;
}

footer .footer-bottom {
  text-align: center;
  padding: 1rem;
  background-color: #ad8e53;
}

footer .footer-bottom p {
  font-weight: bold;
  letter-spacing: 1px;
}

main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  text-align: center;
}

main header h1 {
  font-size: 3rem;
}

main header p {
  font-size: 1.6rem;
  margin: 2rem 0;
}

main .about-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 60px;
}

main .about-wrapper:nth-child(3) {
  margin-top: 30px;
}

main .about-wrapper section {
  background-color: #fff;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

main .about-wrapper section:hover {
  border-radius: 30px;
}

main .about-wrapper section .green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  background-color: #c8ce98;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

main .about-wrapper section .green:hover {
  border-radius: 30px;
}

main .about-wrapper section .green .icon {
  padding: 1rem;
}

main .about-wrapper section .green .icon i.fas {
  color: #685532;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

main .about-wrapper section .green .icon i.fas:hover {
  color: #000;
}

main .about-wrapper section .green .text {
  padding: 1rem;
  text-align: center;
}

main .about-wrapper section .green .text h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

main .about-wrapper section .green .text .btn {
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  border: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

main .about-wrapper section .green .text .btn:hover {
  cursor: pointer;
  border-radius: 10px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #8b7242;
}

main .about-wrapper section .green .text .btn a {
  color: #000;
  text-decoration: none;
}

.rpg-wrapper {
  max-width: 1100px;
  padding-top: 3rem;
  margin: auto;
  overflow: hidden;
}

.rpg-wrapper .game {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
  background-color: #ad8e53;
  max-width: 1080px;
  -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.75);
}

.rpg-wrapper .game a {
  padding: 1.2rem 1rem 1rem 1.2rem;
}

.rpg-wrapper .game img {
  max-width: 400px;
  max-height: 520px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.rpg-wrapper .game img:hover {
  cursor: pointer;
  opacity: 0.9;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 7px 0px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 7px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.rpg-wrapper .game-text {
  padding: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 2px dotted #000;
  text-align: center;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.rpg-wrapper .game-text:hover {
  cursor: default;
  background-color: #d1d6a9;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.rpg-wrapper .game-text h3 {
  font-size: 2.2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.rpg-wrapper .game-text h5 {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.rpg-wrapper .game-text p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.rpg-wrapper .game-text .btn {
  color: #fff;
  font-size: 1.2rem;
  background-color: #a3ad53;
  padding: 0.5rem;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.rpg-wrapper .game-text .btn:hover {
  background-color: #ad8e53;
}

.strategy-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  max-width: 1100px;
  margin: auto;
}

.strategy-wrapper section:nth-of-type(2),
.strategy-wrapper section:nth-of-type(3),
.strategy-wrapper section:nth-of-type(6),
.strategy-wrapper section:nth-of-type(7),
.strategy-wrapper section:nth-of-type(10),
.strategy-wrapper section:nth-of-type(11),
.strategy-wrapper section:nth-of-type(14),
.strategy-wrapper section:nth-of-type(15),
.strategy-wrapper section:nth-of-type(18),
.strategy-wrapper section:nth-of-type(19) {
  background-color: #c8ce98;
}

.strategy-wrapper section:nth-of-type(2) .btn,
.strategy-wrapper section:nth-of-type(3) .btn,
.strategy-wrapper section:nth-of-type(6) .btn,
.strategy-wrapper section:nth-of-type(7) .btn,
.strategy-wrapper section:nth-of-type(10) .btn,
.strategy-wrapper section:nth-of-type(11) .btn,
.strategy-wrapper section:nth-of-type(14) .btn,
.strategy-wrapper section:nth-of-type(15) .btn,
.strategy-wrapper section:nth-of-type(18) .btn,
.strategy-wrapper section:nth-of-type(19) .btn {
  color: #fff;
  background-color: #a3ad53;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}

.strategy-wrapper section:nth-of-type(19) {
  margin-bottom: 2rem;
}

.strategy-wrapper .game {
  background-color: #bda576;
  padding: 2rem;
  margin-top: 2rem;
}

.strategy-wrapper .game-text h3 {
  margin: 0.5rem 0 0.25rem;
}

.strategy-wrapper .game-text h5 {
  margin-bottom: 0.5rem;
}

.strategy-wrapper .game-text p {
  margin-bottom: 0.75rem;
}

.strategy-wrapper .game-text .btn {
  color: #fff;
  background-color: #ad8e53;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}

.madness-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  max-width: 1050px;
  margin: auto;
}

.madness-wrapper section:nth-of-type(1),
.madness-wrapper section:nth-of-type(2),
.madness-wrapper section:nth-of-type(3) {
  margin-top: 4rem;
}

.madness-wrapper section:nth-of-type(16),
.madness-wrapper section:nth-of-type(17),
.madness-wrapper section:nth-of-type(18) {
  margin-bottom: 4rem;
}

.madness-wrapper #adventure {
  background-image: url(../img/madness/adventure.jpg);
}

.madness-wrapper #aladdin {
  background-image: url(../img/madness/alladin.jpg);
}

.madness-wrapper #bomberman {
  background-image: url(../img/madness/bomberman.jpg);
}

.madness-wrapper #contra {
  background-image: url(../img/madness/contra.jpg);
}

.madness-wrapper #donkey-kong {
  background-image: url(../img/madness/donkey-kong.jpg);
}

.madness-wrapper #galaga {
  background-image: url(../img/madness/galaga.jpg);
}

.madness-wrapper #kung-fu {
  background-image: url(../img/madness/kung-fuu.jpg);
}

.madness-wrapper #lion {
  background-image: url(../img/madness/lion.jpg);
}

.madness-wrapper #mario {
  background-image: url(../img/madness/mario.jpg);
}

.madness-wrapper #mortal {
  background-image: url(../img/madness/mortal-kombat.jpg);
}

.madness-wrapper #ninja {
  background-image: url(../img/madness/ninja.jpg);
}

.madness-wrapper #pacman {
  background-image: url(../img/madness/pacman.jpg);
}

.madness-wrapper #road {
  background-image: url(../img/madness/road-fighter.jpg);
}

.madness-wrapper #sonic {
  background-image: url(../img/madness/sonic.jpg);
}

.madness-wrapper #street {
  background-image: url(../img/madness/street-fighter.jpg);
}

.madness-wrapper #tetris {
  background-image: url(../img/madness/tetris.jpg);
}

.madness-wrapper #turtles {
  background-image: url(../img/madness/turtles.jpg);
}

.madness-wrapper #zelda {
  background-image: url(../img/madness/zelda.jpg);
}

.madness-wrapper .game {
  max-width: 360px;
  height: 480px;
  background-size: cover;
}

.madness-wrapper .game img {
  max-width: 350px;
}

.madness-wrapper .game-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 1rem;
  height: 480px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.madness-wrapper .game-text:hover {
  opacity: 0.9;
  background-color: #fff;
  cursor: pointer;
  border: 5px solid #ad8e53;
}

.madness-wrapper .game-text h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.madness-wrapper .game-text h5 {
  font-size: 1.3rem;
  letter-spacing: 1.4px;
  margin-bottom: 2rem;
  border-bottom: 2px solid #b5bd76;
  width: 100%;
}

.madness-wrapper .game-text p {
  margin-bottom: 2rem;
}

.madness-wrapper .game-text .btn {
  background-color: #ad8e53;
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.madness-wrapper .game-text .btn:hover {
  background: #8b7242;
  font-weight: bold;
}

.rest-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4rem 0;
}

.rest-wrapper .section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rest-wrapper .section-wrapper .left .game-text {
  margin-left: -360px;
  border: 5px solid #a3ad53;
}

.rest-wrapper .section-wrapper .left:hover > .game-text {
  margin-left: 0;
  opacity: 1;
}

.rest-wrapper .section-wrapper .left h5 {
  border-bottom: 1px dotted #a3ad53;
}

.rest-wrapper .section-wrapper .left .btn {
  background-color: #a3ad53;
}

.rest-wrapper .section-wrapper .right .game-text {
  margin-right: -360px;
  border: 5px solid #ad8e53;
}

.rest-wrapper .section-wrapper .right:hover > .game-text {
  margin-right: 0;
  opacity: 1;
}

.rest-wrapper .section-wrapper .right h5 {
  border-bottom: 1px dotted #ad8e53;
}

.rest-wrapper .section-wrapper .right .btn {
  background-color: #ad8e53;
}

.rest-wrapper .section-wrapper .game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rest-wrapper .section-wrapper .game img {
  max-width: 360px;
  height: 480px;
}

.rest-wrapper .section-wrapper .game-text {
  width: 360px;
  padding: 2rem 1rem;
  background-color: #fff;
  text-align: center;
  -webkit-transition: all 0.75s ease-in;
  transition: all 0.75s ease-in;
  opacity: 0;
}

.rest-wrapper .section-wrapper .game-text h3 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.rest-wrapper .section-wrapper .game-text h5 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.rest-wrapper .section-wrapper .game-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.rest-wrapper .section-wrapper .game-text .btn {
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.rest-wrapper .section-wrapper .game-text .btn:hover {
  opacity: 0.8;
}

body#cover {
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
}

body#cover a {
  color: #000;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cdcdcd;
  padding: 0.25rem 1.75rem 0.25rem;
}

body#cover a i.fas {
  margin: 1rem;
}

body#cover a:hover {
  color: #a3ad53;
  background-color: #b3b3b3;
}

body#cover #main {
  border-top: 1px dotted #000;
}

body#cover #main:hover {
  color: #ad8e53;
}

body#cover img {
  max-height: 600px;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

body#cover img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.article {
  background-color: #ad8e53;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.article-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.article-top img {
  max-width: 250px;
}

.article-top-text {
  background-color: #a3ad53;
  padding: 1rem 1rem 1rem 6rem;
}

.article-top-text h3 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.article-top-text h5 {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.article-top-text p {
  font-size: 1.3rem;
}

.article-bottom {
  padding: 0 2rem 2rem 2rem;
}

.article-bottom h3 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.article-bottom h5 {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.article-bottom p {
  font-size: 1.3rem;
}

#header-rpg {
  font-family: 'MedievalSharp', cursive;
  font-size: 3rem;
  letter-spacing: 1.5px;
}

#header-strategy {
  font-family: 'Monoton', cursive;
  margin-top: -0.5rem;
}

#header-madness {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.6rem;
}

#header-rest {
  font-family: 'Fascinate Inline', cursive;
}

body {
  background-color: #cebb98;
  font-family: 'Cormorant SC', serif;
}

body a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */