.article {
  background-color: $secondary-color;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;

  &-top {
    display: flex;
    padding: 2rem;

    img {
      max-width: 250px;
    }

    &-text {
      background-color: $primary-color;
      padding: 1rem 1rem 1rem 6rem;

      h3 {
        font-size: 2rem;
        padding-bottom: 0.5rem;
      }

      h5 {
        font-size: 1rem;
        padding-bottom: 1rem;
      }

      p {
        font-size: 1.3rem;
      }
    }
  }

  &-bottom {
    padding: 0 2rem 2rem 2rem;

    h3 {
      font-size: 2rem;
      padding-bottom: 0.5rem;
    }

    h5 {
      font-size: 1rem;
      padding-bottom: 1rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}