body#cover {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;

  a {
    color: #000;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    
    i.fas {
      margin: 1rem;
    }
  }

  img {
    max-height: 600px;
    transition: all 1s ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}