.footer {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  padding-top: 2rem;

  &-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: lighten($color: $primary-color, $amount: 20%);
      padding: 2.5rem 1rem;
      border-radius: 15px;
      margin-left: -50px;
      margin-right: 50px;

      h3 {
        margin-top: 1rem;

        span {
          color: darken($color: $secondary-color, $amount: 10%);
          font-size: 1.4rem;
          font-weight: bold;
          letter-spacing: 1.5px;
          font-style: oblique;
        }
      }
    }

    ul {
      list-style: none;
      margin-right: 300px;

      li {
        padding: 0.25rem;
        font-size: 1.2rem;

        &:hover {
          cursor: pointer;
          color: darken($color: $secondary-color, $amount: 10%);
          font-weight: bold;
        }
      }
    }

    .contact-us {
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: 0.5rem;
      }

      input {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
      }

      textarea {
        padding: 0.5rem;
      }
    }
  }

  .footer-bottom {
    text-align: center;
    padding: 1rem;
    background-color: $secondary-color;
    
    p {
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}