.madness-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1050px;
  margin: auto;
  
  .game {
    max-width: 360px;
    background-image: url(../img/acranum.jpg);
    height: 480px;
    background-size: cover;

    img {
      max-width: 350px;
    }

    &-text {
      opacity: 0;
      height: 480px;
      transition: all 1s ease-in;

      &:hover {
        opacity: 1;
        background-color: $white;
      }
    }
  }
}