@media (max-width: 749px) {
  .subheader {

    .logo {

      #header-madness {
        font-size: 1.2rem;
      }
    }
  }

  .madness-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    section:nth-of-type(1),
    section:nth-of-type(2),
    section:nth-of-type(3) {
    margin: 0;
    }

    section:nth-of-type(16),
    section:nth-of-type(17),
    section:nth-of-type(18) {
    margin: 0;
    }
  }
}

@media (min-width: 750px) and (max-width: 1050px) {

  .madness-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    overflow: hidden;
  }
}