nav {
  background-color: $secondary-color;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      font-size: 1.2rem;
      padding: 1rem 3rem;
      text-align: center;

      &:hover > ul {
        background-color: lighten($color: $secondary-color, $amount: 10%);
        visibility: visible;
        opacity: 1;
        display: block;
      }

      a {
        color: $white;
      }

      ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        display: none;

        &:hover {
          visibility: visible;
          opacity: 1;
          display: block;
        }

        li {
          clear: both;
          width: 100%;
        }
      }
    }
  }

  /*.list {
    display: flex;
    flex-direction: column;
    display: none;
    visibility: hidden;
    
    &:hover {
      display: block;
      visibility: visible;
    }
  }*/
}