nav {
  background-color: $secondary-color;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      font-size: 1.2rem;
      padding: 1rem 2rem;
      position: relative;

      &:hover > ul {
        
        visibility: visible;
        opacity: 1;
        display: block;
        z-index: 5;
      }

      &:hover > ul#rpg,
      &:hover > ul#strategy,
      &:hover > ul#rest {
        
        height: 83vh;
        overflow: hidden;
        overflow-y: scroll;
      }

      a {
        color: $white;

        &:hover {
          color: darken($color: $secondary-color, $amount: 30%);
        }
      }

      ul {
        background-color: $secondary-color;
        position: absolute;
        margin-top: 1rem;
        visibility: hidden;
        opacity: 0;
        display: none;

        &:hover {
          visibility: visible;
          opacity: 1;
          display: block;
        }

        li {
          font-size: 1.05rem;
          padding: 0.5rem 1rem;
          width: 250px;
          clear: both;

          &:hover {
            background-color: lighten($color: $secondary-color, $amount: 10%);

            a {
              color: $white;
            }
          }
        }
      }
    }
  }
}


/* Keeping li parent element (from main ul list) highlited when hovering over sub-menu li elements */
nav {

  ul > li:hover > a {
    color: darken($color: $primary-color, $amount: 30%);
  }
}