.strategy-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1100px;
  margin: auto;

  section:nth-of-type(2),
  section:nth-of-type(3),
  section:nth-of-type(6),
  section:nth-of-type(7),
  section:nth-of-type(10),
  section:nth-of-type(11),
  section:nth-of-type(14),
  section:nth-of-type(15),
  section:nth-of-type(18),
  section:nth-of-type(19) {
    background-color: $white;
  }

  section:nth-of-type(19) {
    margin-bottom: 2rem;
  }

  .game {
    background-color: lighten($color: $secondary-color, $amount: 10%);
    padding: 2rem;
    margin-top: 2rem;
  }
}