@import 'config';
@import 'nav';
@import 'header';
@import 'footer';
@import 'about';
@import 'rpg-guild';
@import 'strategy-corner';
@import 'madness';
@import 'rest';
@import 'cover';
@import 'article';

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

#header-rpg {
  font-family: 'MedievalSharp', cursive;
  font-size: 3rem;
  letter-spacing: 1.5px;
}

#header-strategy {
  font-family: 'Monoton', cursive;
  margin-top: -0.5rem;
}

#header-madness {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.6rem;
}

#header-rest {
  font-family: 'Fascinate Inline', cursive;
}

body {
  background-color: lighten($color: $secondary-color, $amount: 20%);
  font-family: 'Cormorant SC', serif;
 
  a {
    text-decoration: none;
  }
}