@import 'config';
@import 'cover';
@import 'article';
@import 'nav';
@import 'footer';
@import 'start';
@import 'rpg-guild';
@import 'header';
@import 'strategy-corner';
@import 'madness';

body {
  background-color: lighten($color: $secondary-color, $amount: 20%);
  font-family: 'Cormorant SC', serif;
 
  a {
    text-decoration: none;
  }
}